.feature-icons {
    font-size: 10rem;
    color: white;
}

.feature-text {
    font-size: 2rem;
    color: white;
}

.about-us-image-1 {
    width: 100%;
    height: 20rem;
    padding: 0;
    background-color: rgb(49, 43, 226);
}

.about-us-image-2 {
    width: 100%;
    height: 20rem;
    padding: 0;
    background-color:  rgb(59, 55, 187);;
}

.about-us-image-3 {
    width: 100%;
    height: 20rem;
    padding: 0;
    background-color:  rgb(41, 40, 83);;
}

.col-center {
    align-content: center;
    text-align: center;
    padding: 5%;
    /* border: 1rem solid white; */
}